* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    20deg,
    #cc8b5f 60%,
    rgba(210, 222, 229, 0.411) 50%
  );
  background-color: #b4b7bf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img-logo {
  height: 120px;
  object-fit: contain;
}

img {
  max-width: 100%;
}

li {
  display: inline-block;
}

.nav {
  flex-direction: row;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #d552a3 !important;
}

.nav-items {
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
  /* color: hsl(233, 11%, 31%); */
  margin-left: 30px;
}

.light {
  color: rgba(61, 94, 129, 0.719);
  position: relative;
  font-weight: bold;
  padding-left: 20px;
}

.light ::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px (0, 238, 255);
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}

.btn-grad {
  margin: 10px;
  padding: 15px !important;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
  background-image: linear-gradient(
    to right,
    #5886c5 0%,
    #b0cd3b 80%,
    #9cc630 100%
  );
}

.nav-bar > button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-image: linear-gradient(
    120deg,
    hsl(192, 70%, 51%),
    hsl(180, 77%, 52%)
  );
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.hero-img-container {
  background-image: url("images/bg-intro-desktop.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.hero-img-container > img {
  width: 500px;
  margin-right: 20px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text-container > h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(322, 40%, 40%);
  line-height: 1.1;
}

.hero-text-container > p {
  color: hsl(251, 46%, 53%);
  margin-bottom: 15px;
  font-weight: 1000;
  font-size: 20px;
}

.hero-text-container > button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-image: linear-gradient(
    120deg,
    hsl(192, 70%, 51%),
    hsl(181, 35%, 50%)
  );
}

.container {
  background-color: hsl(220, 16%, 96%);
}

.why-us {
  padding-top: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}

.why-us > h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(173, 75%, 47%);
}

.why-us > p {
  color: hsl(233, 8%, 62%);
  margin-bottom: 15px;
  font-weight: 700;
}

.features-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10vh;
}

.feature-item > img {
  width: 65px;
  margin-bottom: 5px;
}

.feature-item > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(187, 73%, 52%);
}

.feature-item > p {
  color: hsl(218, 74%, 67%);
  font-weight: 800;
}

.blog-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10vh;
}

.article-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-section > h1 {
  font-size: 45px;
  margin-left: 1.25rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(64, 63%, 46%);
}

.article {
  height: max-content;
  width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: #fff;
}

.article > img {
  width: 250px;
  height: 250px;
}

.content {
  padding: 15px;
}

.content > p {
  color: hsl(209, 31%, 46%);
  font-weight: 400;
  font-size: 14px;
}

.content > h4 {
  color: hsl(233, 57%, 35%);
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  height: fit-content;
}

.footer-container {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(193, 31, 131);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.menu > a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
}

.social-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-container > img {
  margin-left: 10px;
  cursor: pointer;
}

.footer-container > button {
  margin-top: 3rem;
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-image: linear-gradient(
    120deg,
    hsl(192, 70%, 51%),
    hsl(209, 88%, 49%)
  );
}

.hero-text-container > h4 {
  color: rgb(163, 12, 12);
  font-size: 25px;
  margin: 10px 2px;
  font-weight: 700;
}
